name: Contract verification

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bgd-labs/github-workflows/.github/actions/setup-node@main

      - name: Enforce linting
        run: npm run lint --check

  test-sol:
    name: Foundry build n test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: bgd-labs/action-rpc-env@main
        with:
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}

      # we simply use foundry zk for all jobs in this repo
      - name: Run Foundry setup
        uses: bgd-labs/github-workflows/.github/actions/foundry-setup@main
        with:
          ZKSYNC: "true"

      - name: Verify contract
        run: forge verify-contract 0x00CeE4a3a05d8e82e55a9CBA5a48231456437ca4 src/20251205_AaveV3Ethereum_UpdateFEBSUSDePTEModes/AaveV3Ethereum_UpdateFEBSUSDePTEModes_20251205.sol:AaveV3Ethereum_UpdateFEBSUSDePTEModes_20251205 --chain mainnet --watch
